html
  head
    title= title
    include includes/header
  body.admin
    .wrapper
      audio(controls)
        source(src='')
      ul
        li
          button(data-action='lock') Lock
        li
          button(data-action='clear') Clear
      code.score
      ul
        each _, i in Array(teams)
          li.flex
            button(data-action='score' data-id=`team-${i+1}` data-increment="-1") T#{i+1}-
            button(data-action='score' data-id=`team-${i+1}` data-increment="1") T#{i+1}+
      code.logs
      ul
        each _, i in Array(teams)
          li
            button(data-action='buzz' data-id=`team-${i+1}` data-name="Admin") Team #{i+1}
    script(src='/socket.io/socket.io.js')
    script(src='/assets/admin.js')
